[Unit]
Description = Publish the state of the IR sensor over ZeroMQ
After = network.target

[Service]
ExecStart = /home/pi/.virtualenvs/stats/bin/motion_pub_service
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy = multi-user.target